Repository ermiry-com/py-cerver, pull requests merged in 2021-04, with the labels that each got.

#5 Added wrapper functions to common cerver methods
  .github/workflows/test.yml
  cerver/__init__.py
  cerver/cerver.py
  cerver/http.py
  cerver/query.py
  cerver/request.py
  cerver/response.py
  examples/wrapper.py
Labels: cerver, examples, http, responses, wrappers

#6 Version 0.5
  .github/workflows/test.yml
  CHANGELOG.md
  Dockerfile
  Dockerfile.beta
  cerver/__init__.py
  cerver/cerver.py
  cerver/http.py
  cerver/query.py
  cerver/request.py
  cerver/response.py
  cerver/utils/__init__.py
  cerver/utils/log.py
  cerver/version.py
  examples/admin.py
  examples/api.py
  examples/jobs.py
  examples/upload.py
  examples/web.py
  examples/wrapper.py
  makefile
  run.sh
  setup.cfg
  test/client/web/wrapper.c
  test/web/wrapper.py
  version.txt
Labels: cerver, http, responses, utilities, wrappers

#7 Version 0.5.1
  .github/workflows/beta.yml
  .github/workflows/production.yml
  .github/workflows/test.yml
  CHANGELOG.md
  Dockerfile
  Dockerfile.beta
  Dockerfile.dev
  Dockerfile.test
  cerver/__init__.py
  cerver/content.py
  cerver/request.py
  cerver/version.py
  setup.cfg
  version.txt
Labels: content, http, requests
